@import "mixin";
.themeMixin({
  :host {
    .layout {
      width: 100%;
      height: 100%;
      background: @background-base;

      .page{
        width: 100%;
        height: 100%;
      }

      .empty {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: @background-base;
        transition: background-color .4s ease;
        z-index: 100;

        div{
          height: 45%;
        }
      }
    }
  }
});