<div class="layout" fxLayout>
  <div
    [ngStyle]="showVisual() ? { display: 'inline-block' } : { width: '0' }"
    class="shape-area"
    fxFlex="1 1 auto"
  >
    <app-space-block-editor (change)="onBlockChange()"></app-space-block-editor>
  </div>
  <div
    class="splitLine"
    [ngStyle]="{ display: showSplitLine() ? 'inline-block' : 'none' }"
    (mousedown)="onChangeWidth($event)"
  ></div>
  <app-space-code-editor
    [ngStyle]="onlyClassic()
    ?{
      width: '100%',
      height: '100%'
    }:{
      display: showClassic() ? 'inline-block' : 'none',
      width: codeAreaWidth+'px'
    }"
    class="code-area"
  ></app-space-code-editor>
</div>
