.layout {
  width: 100%;
  height: 100%;

  .shape-area {
    app-space-shape-area {
      width: 100%;
      height: 100%;
    }
  }

  .code-area {
    width: 400px;
  }

  .splitLine {
    width: 1px;
    background: #d2d2d2;
    position: relative;
  }
  .splitLine::before {
    content: '';
    position: absolute;
    left: -4px;
    right: -4px;
    top: 0;
    bottom: 0;
    z-index: 1000;
  }
  .splitLine:hover {
    cursor: ew-resize;
  }
}
