<nz-layout>
  <nz-sider nzTheme="light">
    <ul nz-menu nzMode="inline" [nzSelectable]="false">
      <ng-container
        *ngTemplateOutlet="
          menuTemplate;
          context: { $implicit: blocklier.categories }
        "
      ></ng-container>
      <ng-template let-categories #menuTemplate>
        <ng-container *ngFor="let category of categories">
          <li
            nz-menu-item
            *ngIf="!category.children.length"
            [nzPaddingLeft]="category.depth * 24"
            (click)="
              $event.stopPropagation();
              category.$row.click();
              categorySelected == category
                ? (categorySelected = undefined)
                : (categorySelected = category)
            "
            [nzSelected]="categorySelected == category"
          >
            <i nz-icon nzType="border"></i>
            <span>{{ category.name }}</span>
          </li>
          <li
            nz-submenu
            *ngIf="category.children.length"
            [nzPaddingLeft]="category.depth * 24"
            [nzTitle]="category.name"
          >
            <ul>
              <ng-container
                *ngTemplateOutlet="
                  menuTemplate;
                  context: { $implicit: category.children }
                "
              ></ng-container>
            </ul>
          </li>
        </ng-container>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-content>
    <as-split direction="horizontal">
      <as-split-area>
        <app-blocklier
          (init)="workspace = blocklier.workspace"
          (change)="code = blocklier.toCode()"
          #blocklier
        ></app-blocklier>
      </as-split-area>
      <as-split-area>
        <ngx-monaco-editor
          style="height: 100%"
          [options]="{ language: 'javascript' }"
          [(ngModel)]="code"
          (onInit)="editor = $event"
        ></ngx-monaco-editor>
      </as-split-area>
    </as-split>
  </nz-content>
</nz-layout>
