<app-space-sidebar-layout class="layout">
  <div class="main no-select">
    <ul nz-menu class="menu" nzMode="inline" [nzSelectable]="false">
      <li
        nz-submenu
        class="group"
        *ngFor="let group of groups"
        [nzTitle]="group.name"
        [nzIcon]="'appstore'"
        [nzOpen]="group.open"
      >
        <ul>
          <li nz-menu-item *ngFor="let item of group.widgets">
            <div class="item">
              <div class="title">
                <i nz-icon [nzType]="'appstore'"></i>
                <span>{{ item.name }}</span>
              </div>
              <div class="content">
                <div>{{ item.summary }}</div>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</app-space-sidebar-layout>
