nz-layout {
  height: 100%;

  nz-sider {
    overflow: auto;
    border-right: 0;
  }

  nz-content {
    position: relative;
  }
}

::ng-deep {
  [nz-submenu-title],
  [nz-menu-item] {
    margin: 0 !important;
  }
}
