<div class="layout" fxLayout="column">
  <app-space-header class="header"></app-space-header>
  <div fxFlex="grow" class="body" fxLayout="column" fxFlexScrollable>
    <app-space-tool-bar></app-space-tool-bar>
    <app-divider></app-divider>
    <app-space-sidebar-manager fxFlex="grow" fxFlexScrollable>
      <div fxFlex="grow" fxLayout="column">
        <app-space-tab-bar></app-space-tab-bar>
        <app-divider></app-divider>
        <as-split fxFlex="grow">
          <app-space-block-editor
            as-split-area
            [size]="60"
            (change)="updateCode()"
          ></app-space-block-editor>
          <app-space-code-editor
            as-split-area
            [size]="40"
          ></app-space-code-editor>
        </as-split>
      </div>
    </app-space-sidebar-manager>
    <app-divider></app-divider>
    <app-space-status-bar></app-space-status-bar>
  </div>
</div>
