<div class="layout" fxLayout="column">
  <app-space-header class="header"></app-space-header>
  <div fxFlex="grow" class="body" fxLayout="column" fxFlexScrollable>
    <app-space-tool-bar></app-space-tool-bar>
    <app-divider></app-divider>
    <app-space-sidebar-manager fxFlex="grow" fxFlexScrollable>
      <div class="center" fxFlex="grow" fxLayout="column">
        <app-space-tab-bar></app-space-tab-bar>
        <app-divider></app-divider>
        <app-space-center fxFlex="grow"></app-space-center>
      </div>
    </app-space-sidebar-manager>
    <app-divider></app-divider>
    <app-space-status-bar></app-space-status-bar>
    <app-divider></app-divider>
  </div>
</div>
