
@import "mixin";
.themeMixin({
  :host {
    .layout {
      height: 100%;
      min-width: 1280px;
      background: @background-light;
      transition: background-color .4s ease;

      .body {

        app-space-sidebar-manager{
          overflow-y: hidden;

          .center{
            overflow-y: hidden;

            app-space-center{
            }
          }
        }
      }
    }
  }
});