<div fxLayout class="layout no-select hr-ant">
  <div class="bottom-line"></div>
  <div class="main" fxFlex="grow">
    <div class="tabs">
      <div
        *ngFor="let item of tabs"
        [ngClass]="item.selected ? 'tab tab-selected' : 'tab'"
        (click)="onTabClick(item)"
        (contextmenu)="contextMenu($event, menu)"
      >
        <i nz-icon class="icon" [nzIconfont]="getFileIcon(item.file.name)"></i>
        <p>{{ item.file.name }}</p>
        <div class="close-btn">
          <i
            nz-icon
            [nzType]="'close'"
            (click)="onTabClose(item); $event.stopPropagation()"
          ></i>
        </div>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="onCloseOther(item)">关闭其他标签</li>
            <li nz-menu-item (click)="onTabClose(item)">关闭标签</li>
            <li nz-menu-divider></li>
            <li nz-menu-item (click)="onCopyName(item)">复制文件名</li>
            <li nz-menu-item (click)="onCopyPath(item)">复制路径</li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>
  </div>
  <app-toolbar-divider *ngIf="showSplitLine()"></app-toolbar-divider>
  <button
    *ngIf="showEditorModeChangeBtn()"
    class="editor-mode-selector"
    nz-button
    nz-dropdown
    [nzDropdownMenu]="editorModeMenu"
    nzSize="small"
  >
    {{ editorMode }}
    <i nz-icon nzType="down"></i>
    <nz-dropdown-menu #editorModeMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="onEditorModeChange(EditorMode.Logic)">
          逻辑模式
        </li>
        <li nz-menu-item (click)="onEditorModeChange(EditorMode.Design)">
          设计模式
        </li>
      </ul>
    </nz-dropdown-menu>
  </button>
  <nz-radio-group
    *ngIf="isBlockFile"
    class="layout-mode-selector"
    [(ngModel)]="layoutMode"
    (ngModelChange)="onLayoutModeChange(layoutMode)"
    nzSize="small"
    fxFlex="130px"
  >
    <label nz-radio-button [nzValue]="LayoutMode.Visual">图形</label>
    <label nz-radio-button [nzValue]="LayoutMode.Split">分割</label>
    <label nz-radio-button [nzValue]="LayoutMode.Classic">代码</label>
  </nz-radio-group>
  <button
    *ngIf="showToBlockFileBtn()"
    nz-popconfirm
    class="goto-logic-mode"
    nzPopconfirmPlacement="bottomRight"
    nzPopconfirmTitle="进入图形模式可能会覆盖当前代码，是否继续？"
    (nzOnConfirm)="onToBlockFile()"
    nz-button
    nzSize="small"
  >
    进入图形模式
  </button>
</div>
