<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UI-Editor</title>
    <link rel="icon" href="media/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="css/workspace.css">
    <link rel="stylesheet" type="text/css" href="css/uieditor.css">
    <link rel="stylesheet" type="text/css" href="css/btn.css">
    <link rel="stylesheet" type="text/css" href="iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="css/metroStyle/metroStyle.css">
</head>
<body>
<div class="head-line">
    <div>
        <img src="media/logo.png"/>
        <h1 onclick="window.open('index')">B-Logic</h1>
        <a target="view_window" href="/index#contact">联系我们</a>
        <a target="view_window" href="/index#contact">交流群</a>
        <a target="view_window" href="/index">我的项目</a>
        <a target="view_window" href="/index">社区</a>
        <a target="view_window" href="/examples">学习</a>
        <a target="view_window" href="/index#learn">学习</a>
        <a target="view_window" href="/docs">教程</a>
        <a target="view_window" href="/index#about">简介</a>
        <a target="view_window" href="/index">主页</a>
    </div>
</div>
<div class="tool-bar" id="toolbar">
    <span>&nbsp;&nbsp;功能区显示:&nbsp;</span>
    <button class="tool-check btn-9" id="show-new" @click="show($event.target)">新增</button>
    <button class="tool-check btn-9" id="show-tree" @click="show($event.target)">控件树</button>
    <button class="tool-check btn-9" id="show-structure" @click="show($event.target)">结构</button>
    <button class="tool-check btn-9" id="show-code" @click="show($event.target)">代码</button>
    <button class="tool-check btn-9" id="show-attr" @click="show($event.target)">属性</button>
    <button class="tool-check btn-9" id="show-preview" @click="show($event.target)">预览</button>
    <span>&nbsp;&nbsp;调试栏:&nbsp;</span>
    <button class="tool-btn btn-2" id="tool-ast" @click="ast()" title="输出词法解析器结果。">解析</button>
    <button class="tool-btn btn-2" id="tool-ast-position" @click="astPosition()" title="输出词法解析器完整定位结果。">定位解析</button>
    <button class="tool-btn btn-2" id="tool-fresh-xml" @click="freshXmlList()" title="输出全部XML代码位置列表。">检索XML</button>
    <button class="tool-btn btn-2" id="tool-get-xml" @click="getXmlCode()" title="输出目标XML代码。">输出XML</button>
    <!--<button class="tool-btn btn-2" id="tool-fresh-analysis" @click="freshAnalysis()" title="重新解析XML代码。">刷新解析</button>-->
    <a class="tool-middle"></a>
    <custom-select ref="selectTarget" :list="list"></custom-select>

</div>
<div class="ui-workspace">
    <div id="new-space" class="drawer new-space">
        <div id="new-show" class="new-show"></div>
    </div>
    <div class="layer-inner">
        <div id="tree-space" class="drawer tree-space">
            <div id="tree-show" class="tree-show"></div>
        </div>
        <div class="layer-inner">
            <div id="structure-space" class="structure-space">
                <div id="structure-show" class="structure-show"></div>
            </div>
            <div id="code-space" class="drawer code-space">
                <div class="editor" id="editor"></div>
            </div>
        </div>
        <div id="attr-space" class="drawer attr-space">
            <div id="attr-show" class="attr-show">
            </div>
        </div>
    </div>
    <div id="preview-space" class="drawer preview-space">
        <div class="temp-text">预览区<br/>开发中</div>
    </div>
</div>
<div id="follow-box" class="follow-box">
    <div id="follow-title" class="follow-title"></div>
    <div id="follow-split" class="follow-split"></div>
    <div id="follow-msg" class="follow-msg"></div>
</div>
<div id="move-tip" class="move-tip"></div>
<div id="temp" class="temp"></div>

<script src="js/utils/view_utils.js"></script>
<script src="js/utils/ace_utils.js"></script>
<script src="js/utils/code_utils.js"></script>
<script src="js/utils/follow_utils.js"></script>
<script src="js/utils/string_utils.js"></script>
<script type="text/x-template" id="dropdown">
    <div class="dropdown" v-if="options">
        <!-- Dropdown Input -->
        <input  class="dropdown-input"
                :type="type"
                v-model="input_value"
                @focus="showOptions()"
                @blur="exit()"
                @keyup="keyMonitor"
                @input="input_value = inputRule(type)" />
        <!-- Dropdown Menu -->
        <div class="dropdown-content" v-show="optionsShown">
            <div    class="dropdown-item"
                    @mousedown="selectOption(option)"
                    v-for="(option, index) in filteredOptions"
                    :key="index">
                {{ option || '-' }}
            </div>
        </div>
    </div>
</script>
<script src="js/plugins/require.js"></script>
<script src="js/uieditor/uieditor.js"></script>

<message>
    <Widgets>
        <WidgetGroup name="布局">
            <Widget name="drawer" example="&lt;drawer&gt;&lt;/drawer&gt;" summary="抽屉布局 可从侧边拉出页面" type="VG" />
            <Widget name="frame" example="&lt;frame&gt;&lt;/frame&gt;" summary="帧布局 内部控件将任意重叠排列" type="VG" />
            <Widget name="grid" example="&lt;grid&gt;&lt;/grid&gt;" summary="表格布局 表格状排布布局" type="VG" />
            <Widget name="horizontal" example="&lt;horizontal&gt;&lt;/horizontal&gt;" summary="水平布局 内部控件将水平排列" type="VG" />
            <Widget name="linear" example="&lt;linear&gt;&lt;/linear&gt;" summary="线性布局 内部控件将水平或垂直线性排列" type="VG" />
            <Widget name="list" example="&lt;list&gt;&lt;/list&gt;" summary="列表布局 用于呈现列表类数据 等价安卓RecyclerView" type="VG" />
            <Widget name="relative" example="&lt;relative&gt;&lt;/relative&gt;" summary="相对布局 内部控件可相对其他控件设置位置" type="VG" />
            <Widget name="vertical" example="&lt;vertical&gt;&lt;/vertical&gt;" summary="垂直布局 内部控件将垂直排列" type="VG" />
            <Widget name="viewpager" example="&lt;viewpager&gt;&lt;/viewpager&gt;" summary="多页布局 可有多个可左右活动的页面" type="VG" />
        </WidgetGroup>
        <WidgetGroup name="控件">
            <Widget name="appbar" example="&lt;appbar/&gt;" summary="App标题栏控件" type="V" />
            <Widget name="button" example="&lt;button/&gt;" summary="按钮控件" type="V" />
            <Widget name="card" example="&lt;card/&gt;" summary="卡片控件" type="V" />
            <Widget name="checkbox" example="&lt;checkbox/&gt;" summary="[支持绑定] 复选框控件" type="V" />
            <Widget name="datepicker" example="&lt;datepicker/&gt;" summary="日期选择控件" type="V" />
            <Widget name="fab" example="&lt;fab/&gt;" summary="浮动按钮控件" type="V" />
            <Widget name="icon" example="&lt;icon/&gt;" summary="图标控件" type="V" />
            <Widget name="img" example="&lt;img/&gt;" summary="图片控件" type="V" />
            <Widget name="input" example="&lt;input/&gt;" summary="[支持绑定] 输入框控件" type="V" />
            <Widget name="progressbar" example="&lt;progressbar/&gt;" summary="进度条控件" type="V" />
            <Widget name="radio" example="&lt;radio/&gt;" summary="[支持绑定] 单选框控件" type="V" />
            <Widget name="radiogroup" example="&lt;radiogroup/&gt;" summary="单选框组控件" type="V" />
            <Widget name="seekbar" example="&lt;seekbar/&gt;" summary="[支持绑定] 拖动条控件" type="V" />
            <Widget name="spinner" example="&lt;spinner/&gt;" summary="[支持绑定] 下拉菜单控件" type="V" />
            <Widget name="Switch" example="&lt;Switch/&gt;" summary="[支持绑定] 开关控件" type="V" />
            <Widget name="text" example="&lt;text/&gt;" summary="文本控件" type="V" />
            <Widget name="timepicker" example="&lt;timepicker/&gt;" summary="时间选择控件" type="V" />
            <Widget name="webview" example="&lt;webview/&gt;" summary="网页控件" type="V" />
        </WidgetGroup>
        <WidgetGroup name="Android布局">
            <Widget name="AppBarLayout" example="&lt;AppBarLayout&gt;&lt;/AppBarLayout&gt;" summary="App顶栏布局" type="VG" />
            <Widget name="BottomAppBar" example="&lt;BottomAppBar&gt;&lt;/BottomAppBar&gt;" summary="底栏布局" type="VG" />
            <Widget name="CardView" example="&lt;CardView&gt;&lt;/CardView&gt;" summary="卡片布局" type="VG" />
            <Widget name="ConstraintLayout" example="&lt;ConstraintLayout&gt;&lt;/ConstraintLayout&gt;" summary="约束布局" type="VG" />
            <Widget name="FrameLayout" example="&lt;FrameLayout&gt;&lt;/FrameLayout&gt;" summary="帧布局" type="VG" />
            <Widget name="GridLayout" example="&lt;GridLayout&gt;&lt;/GridLayout&gt;" summary="表格布局" type="VG" />
            <Widget name="LinearLayout" example="&lt;LinearLayout&gt;&lt;/LinearLayout&gt;" summary="线性布局" type="VG" />
            <Widget name="NavigationView" example="&lt;NavigationView&gt;&lt;/NavigationView&gt;" summary="导航布局" type="VG" />
            <Widget name="RecyclerView" example="&lt;RecyclerView&gt;&lt;/RecyclerView&gt;" summary="重复布局" type="VG" />
            <Widget name="ScrollView" example="&lt;ScrollView&gt;&lt;/ScrollView&gt;" summary="滚动布局" type="VG" />
            <Widget name="TabItem" example="&lt;TabItem&gt;&lt;/TabItem&gt;" summary="切换指示器" type="VG" />
            <Widget name="TabLayout" example="&lt;TabLayout&gt;&lt;/TabLayout&gt;" summary="切换指示器组" type="VG" />
            <Widget name="TableLayout" example="&lt;TableLayout&gt;&lt;/TableLayout&gt;" summary="表格布局" type="VG" />
            <Widget name="TableRow" example="&lt;TableRow&gt;&lt;/TableRow&gt;" summary="表格行布局" type="VG" />
            <Widget name="ToolBar" example="&lt;ToolBar&gt;&lt;/ToolBar&gt;" summary="工具栏布局" type="VG" />
        </WidgetGroup>
        <WidgetGroup name="Android控件">
            <Widget name="AdView" example="&lt;AdView/&gt;" summary="广告控件" type="V" />
            <Widget name="Barrier" example="&lt;Barrier/&gt;" summary="定位块" type="V" />
            <Widget name="Button" example="&lt;Button/&gt;" summary="按钮控件" type="V" />
            <Widget name="CalendarView" example="&lt;CalendarView/&gt;" summary="日期控件" type="V" />
            <Widget name="CheckBox" example="&lt;CheckBox/&gt;" summary="复选框控件" type="V" />
            <Widget name="Chip" example="&lt;Chip/&gt;" summary="标签" type="V" />
            <Widget name="ChipGroup" example="&lt;ChipGroup/&gt;" summary="标签流组件" type="V" />
            <Widget name="GuideLine" example="&lt;GuideLine/&gt;" summary="定位线" type="V" />
            <Widget name="ImageView" example="&lt;ImageView/&gt;" summary="图片控件" type="V" />
            <Widget name="MapView" example="&lt;MapView/&gt;" summary="地图控件" type="V" />
            <Widget name="MockView" example="&lt;MockView/&gt;" summary="虚拟控件" type="V" />
            <Widget name="ProgressBar" example="&lt;ProgressBar/&gt;" summary="进度条控件" type="V" />
            <Widget name="RadioButton" example="&lt;RadioButton/&gt;" summary="单选框按键" type="V" />
            <Widget name="RadioGroup" example="&lt;RadioGroup/&gt;" summary="单选框组件" type="V" />
            <Widget name="RatingBar" example="&lt;RatingBar/&gt;" summary="打星级控件" type="V" />
            <Widget name="SearchView" example="&lt;SearchView/&gt;" summary="搜索框控件" type="V" />
            <Widget name="SeekBar" example="&lt;SeekBar/&gt;" summary="拖动条控件" type="V" />
            <Widget name="SurfaceView" example="&lt;SurfaceView/&gt;" summary="流媒体控件" type="V" />
            <Widget name="TextView" example="&lt;TextView/&gt;" summary="文本框控件" type="V" />
            <Widget name="ToggleButton" example="&lt;ToggleButton/&gt;" summary="开关控件" type="V" />
            <Widget name="VideoView" example="&lt;VideoView/&gt;" summary="视频控件" type="V" />
            <Widget name="View" example="&lt;View/&gt;" summary="基础控件" type="V" />
            <Widget name="WebView" example="&lt;WebView/&gt;" summary="网页控件" type="V" />
        </WidgetGroup>
    </Widgets>
    <Attrs>
        <Attr name="id" tip="控件id，不能重复使用">
            <opt value="id"/>
        </Attr>
        <Attr name="w" tip="控件宽度">
            <opt value="*" key="尽可能填满父控件"/>
            <opt value="auto" key="自动计算(经量小)"/>
        </Attr>
        <Attr name="h"  tip="控件高度">
            <opt value="*" key="尽可能填满父控件"/>
            <opt value="auto" key="自动计算(经量小)"/>
        </Attr>
        <Attr name="layout_width">
            <opt value="match_parent"/>
            <opt value="wrap_content"/>
        </Attr>
        <Attr name="layout_height">
            <opt value="match_parent"/>
            <opt value="wrap_content"/>
        </Attr>
        <Attr name="gravity"  tip="内部子控件的重力方向">
            <opt value="center" key="中央"/>
            <opt value="center_vertical" key="垂直居中"/>
            <opt value="center_horizontal" key="水平居中"/>
            <opt value="top" key="靠上"/>
            <opt value="left" key="靠左"/>
            <opt value="right" key="靠右"/>
            <opt value="bottom" key="靠下"/>
        </Attr>
        <Attr name="layout_gravity" tip="自身在父布局的重力方向">
            <opt value="center" key="中央"/>
            <opt value="center_vertical" key="垂直居中"/>
            <opt value="center_horizontal" key="水平居中"/>
            <opt value="top" key="靠上"/>
            <opt value="left" key="靠左"/>
            <opt value="right" key="靠右"/>
            <opt value="bottom" key="靠下"/>
        </Attr>
        <Attr name="bg" tip="背景 可以是颜色，图片，或drawable资源等">
            <opt value="./"/>
            <opt value="/sdcard/"/>
        </Attr>
        <Attr name="visibility" tip="控件是否可见">
            <opt value="gone" key="不显示且不占空间"/>
            <opt value="visible" key="显示且占空间"/>
            <opt value="invisible" key="不显示但占空间"/>
        </Attr>
        <Attr name="typeface" tip="字体">
            <opt value="normal"/>
            <opt value="sans"/>
            <opt value="serif"/>
            <opt value="monospace"/>
        </Attr>
        <Attr name="ellipsize">
            <opt value="end"/>
            <opt value="marquee"/>
            <opt value="middle"/>
            <opt value="none"/>
            <opt value="start"/>
        </Attr>
        <Attr name="autoLink">
            <opt value="all"/>
            <opt value="email"/>
            <opt value="map"/>
            <opt value="none"/>
            <opt value="phone"/>
            <opt value="web"/>
        </Attr>
        <Attr name="inputType"  tip="输入类型 详情见文档">
            <opt value="date"/>
            <opt value="datetime"/>
            <opt value="none"/>
            <opt value="number"/>
            <opt value="numberDecimal"/>
            <opt value="numberPassword"/>
            <opt value="numberSigned"/>
            <opt value="phone"/>
            <opt value="text"/>
            <opt value="textAutoCorrect"/>
            <opt value="textPassword"/>
            <opt value="textUri"/>
            <opt value="textVisiblePassword"/>
            <opt value="time"/>
        </Attr>
        <Attr name="password"  tip="设置为true后内部文字会显示成*">
            <opt value="true"/>
            <opt value="false"/>
        </Attr>
        <Attr name="numeric">
            <opt value="true"/>
            <opt value="false"/>
        </Attr>
        <Attr name="phoneNumber" >
            <opt value="true"/>
            <opt value="false"/>
        </Attr>
        <Attr name="singleLine"  tip="仅有一行">
            <opt value="true"/>
            <opt value="false"/>
        </Attr>
        <Attr name="src" tip="资源路径">
            <opt value="http" key="//"/>
            <opt value="file" key="//"/>
            <opt value="data" key="image/png;base64,"/>
        </Attr>
        <Attr name="scaleType"  tip="图片适应方式 详情见文档">
            <opt value="center"/>
            <opt value="centerCrop"/>
            <opt value="centerInside"/>
            <opt value="fitCenter"/>
            <opt value="fitEnd"/>
            <opt value="fitStart"/>
            <opt value="fitXY"/>
            <opt value="matrix"/>
        </Attr>
        <Attr name="checked"  tip="是否选中">
            <opt value="true"/>
            <opt value="false"/>
        </Attr>
        <Attr name="indeterminate">
            <opt value="true"/>
            <opt value="false"/>
        </Attr>
        <Attr name="circle">
            <opt value="true"/>
            <opt value="false"/>
        </Attr>
    </Attrs>
</message>
</body>
</html>
