nz-layout {
  height: 100%;
  nz-sider {
    width: 220px;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid #CFCFCF;

    ::ng-deep {
      .ant-menu-item,
      .ant-menu-submenu-title {
        margin: 0;
        height: 32px;
        font-size: small;
      }
    }
    .category-icon {
      width: 11px;
      height: 11px;
      border: 2.5px solid #aaa;
      margin: auto 4px;
    }
  }
}

.sider-main{
  h1{
    margin: 20px auto 0;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    color: black;
  }
  h2{
    margin: 0 auto 10px;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
  }
  h1 a{
    text-decoration:none;
    color: #324a5b;
  }
  h2 a{
    text-decoration:none;
    color: #324a5b;
  }
}

::ng-deep {
  .blocklyMainBackground {
    stroke: none;
  }
}