<div fxLayout class="layout no-select">
    <div class="main">
        <div class="tabs">
            <div
                class="tab"
                *ngFor="let item of tabs"
                [ngStyle]="item.selected?{'border-bottom-color':'#009561','border-top-color':'#FFFFFF','background':'#FFFFFF'}:{}"
                (click)="onTabClick(item)"
            >
                <i nz-icon class="icon" [nzType]="getIcon(item.name)"></i>
                <p>{{item.name}}</p>
                <div class="close-btn">
                    <i nz-icon [nzType]="'close'" (click)="onTabClose(item)"></i>
                </div>
            </div>
        </div>
    </div>
    <div fxFlex="grow"></div>
    <app-toolbar-split></app-toolbar-split>
    <nz-radio-group class="mode-selector" [(ngModel)]="mode" (ngModelChange)="onModeChange(mode)" nzSize="small">
        <label nz-radio-button nzValue="block">图形</label>
        <label nz-radio-button nzValue="split">分割</label>
        <label nz-radio-button nzValue="code">代码</label>
    </nz-radio-group>
</div>
