<div class="layout hr-ant" fxLayout>
    <div class="middle-space" fxFlex="grow"></div>
    <button class="editor-mode-selector" nz-button nz-dropdown [nzDropdownMenu]="editorModeMenu" nzSize="small">
        {{STRS_RUN_MODE[runMode]}}
        <i nz-icon nzType="down"></i>
        <nz-dropdown-menu #editorModeMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item (click)="onRunModeChange(RUN_MODE_OFFLINE)">本地运行</li>
                <li nz-menu-item (click)="onRunModeChange(RUN_MODE_DEVICE)">设备运行</li>
            </ul>
        </nz-dropdown-menu>
    </button>
    <nz-button-group nzSize="small">
        <button nz-button (click)="save()">
            <i nz-icon nzType="save"></i>
            {{STRS_SAVE_MODE[saveMode]}}
        </button>
        <button nz-button nz-dropdown [nzDropdownMenu]="saveWayMenu" nzPlacement="bottomRight">
            <i nz-icon nzType="ellipsis"></i>
            <nz-dropdown-menu #saveWayMenu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item (click)="onSaveModeChange(SAVE_MODE_OFFLINE)">本地保存</li>
                    <li nz-menu-item (click)="onSaveModeChange(SAVE_MODE_ONLINE)">在线保存</li>
                    <li nz-menu-item (click)="onSaveModeChange(SAVE_MODE_DEVICE)">设备保存</li>
                </ul>
            </nz-dropdown-menu>
        </button>
    </nz-button-group>
</div>