<div class="layout hr-ant" fxLayout>
    <div class="middle-space" fxFlex="grow"></div>
    <app-btn-icon icon="api" [fill]="true" color="#1890FF" nz-tooltip="连接设备" nzTooltipPlacement="bottom"></app-btn-icon>
    <app-toolbar-split></app-toolbar-split>
    <button class="editor-mode-selector" nz-button nz-dropdown [nzDropdownMenu]="runModeMenu" nzSize="small">
        {{STRS_RUN_MODE[runMode]}}
        <i nz-icon nzType="down"></i>
        <nz-dropdown-menu #runModeMenu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item (click)="onRunModeChange(RUN_MODE_OFFLINE)">在线运行</li>
                <li nz-menu-item (click)="onRunModeChange(RUN_MODE_DEVICE)">设备运行</li>
            </ul>
        </nz-dropdown-menu>
    </button>
    <app-btn-icon icon="icon-play" color="#59A869" nz-tooltip="运行" nzTooltipPlacement="bottom"></app-btn-icon>
    <app-btn-icon icon="icon-stop" color="#C75450" nz-tooltip="停止" nzTooltipPlacement="bottom"></app-btn-icon>
    <app-toolbar-split></app-toolbar-split>
    <nz-button-group nzSize="small">
        <button nz-button (click)="save()" nz-tooltip="保存项目" nzTooltipPlacement="bottom">
            <i nz-icon nzType="save"></i>
            {{STRS_SAVE_MODE[saveMode]}}
        </button>
        <button nz-button nz-dropdown [nzDropdownMenu]="saveWayMenu" nzPlacement="bottomRight">
            <i nz-icon nzType="ellipsis"></i>
            <nz-dropdown-menu #saveWayMenu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item (click)="onSaveModeChange(SAVE_MODE_OFFLINE)">本地保存</li>
                    <li nz-menu-item (click)="onSaveModeChange(SAVE_MODE_ONLINE)">在线保存</li>
                    <li nz-menu-item (click)="onSaveModeChange(SAVE_MODE_DEVICE)">设备保存</li>
                </ul>
            </nz-dropdown-menu>
        </button>
    </nz-button-group>
</div>