
.layout{
    height: 30px;
    background-color: #F2F2F2;
    align-items: center;
    padding: 0 4px;

    .deviceIpInput{
        width: 360px;
    }

    .deviceHelp:hover{
        cursor: pointer;
    }
}

.layout>* {
    margin: 0 2px;
}
.layout>button,nz-button-group{
    margin: 0 4px;
}