.layout {
  height: 30px;
  background-color: #f2f2f2;
  align-items: center;
  padding: 0 4px;
  white-space: nowrap;

  .tip {
    font-size: 12px;
    color: #606060;
  }

  .deviceIpInput {
    width: min-content;
    input {
      width: 160px;
    }
    i {
      color: #bbbbbb;
    }
  }

  .deviceHelp:hover {
    cursor: pointer;
  }

  .deviceHelp {
    color: #606060;
  }

  .hide {
    width: 0;
  }
}

.layout > *:not(label) {
  margin: 0 2px;
}
.layout > button,
nz-button-group {
  margin: 0 4px;
}
