/*============================
	Jade Color Style
==============================*/
::selection {
	background: #00A86B;
}
a, a:focus {
	color: #00A86B;
}
a:hover, a:active {
	color: #19c486;
}
.form-dark .form-control:focus {
	border-color: #00A86B !important;
}
.utf-spinner-one {
	border-top-color: #00A86B;	
}
.utf-spinner-two {
    border-top: 5px solid #00A86B;
	border-left: 5px solid #00A86B;	
}
.utf-spinner-three {
	border-top-color: #00A86B;
	border-bottom-color: #00A86B;	
}
.utf-spinner-four {
	border-top: 5px solid #00A86B;	
}
.sub-item-text{
	color:#ffffff;
	background:#00A86B
}
.utf-service-featured-box i{
	color:#00A86B
}
.portfolio .utf-portfolio-box .utf-item-overlay-details {
    background: #00A86B;    
}
.pro-title-bg {
    background: #1e2328;
    padding: 8px 12px;
    border-radius: 10px;
    border: 4px solid rgba(255, 255, 255, 0.05);
}
.utf-hero-content span.typed, .utf-hero-content span.typed-cursor{
	color: #00A86B;
}
.owl-theme .owl-nav [class*="owl-"]:hover:not(.disabled) {
    background: #00A86B;
}	
#contact h3:after {
    background:#00A86B;
}
.primary-menu ul.navbar-nav > li:hover > a:not(.btn), .primary-menu ul.navbar-nav > li > a.active:not(.btn) {
	background:#00A86B;
	color: #ffffff;
}
.primary-menu ul.navbar-nav > li.dropdown .dropdown-menu li:hover > a:not(.btn) {
	color: #00A86B;
}
.primary-menu.navbar-line-under-text ul.navbar-nav > li > a:not(.btn):after {
	border-color: #00A86B;
}
.secondary-nav.nav.alternate .nav-item .nav-link.active {
	border-color: #00A86B;
}
.page-header.page-header-text-dark .breadcrumb > li a:hover {
	color: #00A86B;
}
.accordion:not(.accordion-alternate) .card-header a {
	background-color: #00A86B;
	color: #fff;
}
.nav:not(.nav-pills) .nav-item .nav-link.active, .nav:not(.nav-pills) .nav-item .nav-link:hover {
	color: #00A86B;
}
.nav-tabs .nav-item .nav-link.active {
	color: #0c2f55;
}
.nav-tabs .nav-item .nav-link.active:after, .nav-tabs .nav-item .nav-link:hover:after {
	background-color: #00A86B;
}
.nav-tabs .nav-item .nav-link:not(.active):hover {
	color: #00A86B;
}
.nav-tabs.flex-column .nav-item .nav-link.active {
	color: #00A86B;
}
.nav-pills .nav-link:not(.active):hover {
	color: #00A86B;
}
.brands-grid > .row > div a:hover {
	color: #00A86B;
}
#footer .nav .nav-item .nav-link:focus {
	color: #00A86B;
}
#footer .nav .nav-link:hover {
	color: #00A86B;
}
#footer .footer-copyright .nav .nav-link:hover {
	color: #00A86B;
}
#back-to-top {
	background-color: #00A86B;
}
.bg-primary, .badge-primary {
	background-color: #00A86B !important;
}
.text-primary, .btn-light, .btn-outline-light:hover, .btn-link, .btn-outline-light:not(:disabled):not(.disabled).active, .btn-outline-light:not(:disabled):not(.disabled):active {
	color: #00A86B !important;
}
.btn-link:hover {
	color: #19c486 !important;
}
.text-muted {
	color: #8e9a9d !important;
}
.text-light {
	color: #dee3e4 !important;
}
a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
	background-color: #19c486 !important;
}
.border-primary {
	border-color: #00A86B !important;
}
.btn-primary {
	background-color: #00A86B;
	border-color: #00A86B;
}
.btn-primary:hover {
	background-color: #19c486;
	border-color: #19c486;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
	background-color: #19c486;
	border-color: #19c486;
}
.btn-primary.focus, .btn-primary:focus {
	background-color: #19c486;
	border-color: #19c486;
}
.btn-outline-primary, .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active {
	color: #00A86B;
	border-color: #00A86B;
}
.btn-outline-primary:hover, .btn-outline-primary:not(:disabled):not(.disabled).active:hover, .btn-outline-primary:not(:disabled):not(.disabled):active:hover {
	background-color: #00A86B;
	border-color: #00A86B;
	color: #fff;
}
.progress-bar, .nav-pills .nav-link.active, .nav-pills .show > .nav-link, .dropdown-item.active, .dropdown-item:active {
	background-color: #00A86B;
}
.page-item.active .page-link, .custom-radio .custom-control-input:checked ~ .custom-control-label:before, .custom-control-input:checked ~ .custom-control-label::before, .custom-checkbox .custom-control-input:checked ~ .custom-control-label:before, .custom-control-input:checked ~ .custom-control-label:before {
	background-color: #00A86B;
	border-color: #00A86B;
}
.list-group-item.active {
	background-color: #00A86B;
	border-color: #00A86B;
}
.page-link {
	color: #00A86B;
}
.page-link:hover {
	color: #19c486;
}
.owl-theme.single-slideshow .owl-dots .owl-dot.active span, .owl-theme.single-slideshow .owl-dots .owl-dot:hover span {
	border-color: #00A86B;
}
.owl-theme.single-slideshow .owl-dots .owl-dot.active span:after, .owl-theme.single-slideshow .owl-dots .owl-dot:hover span:after {
	background-color: #00A86B;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	border-color: #00A86B;
}
.owl-theme .owl-dots .owl-dot.active span:after, .owl-theme .owl-dots .owl-dot:hover span:after {
	background-color: #00A86B;
}
.owl-theme.dots-light .owl-dots .owl-dot.active span:after, .owl-theme.dots-light .owl-dots .owl-dot:hover span:after {
	background-color: #00A86B;
}
.utf-service-featured-box:hover::after{
	background-color: #00A86B !important;
}
.blog-post .content .title:hover, .blog-post .content a:hover {
	color: #00A86B !important;
}
.sidebar .widget .post-recent .post-recent-content a:hover, .sidebar .widget .catagories li a:hover{
	color: #00A86B;
}
@media (max-width: 991px) {
.pro-title-bg {
    background: #00A86B;
    padding: 8px 12px;
    border-radius: 10px;
    border: 4px solid rgba(0, 0, 0, 0.1);
}
}