*{
    margin:0;
    padding:0;
    list-style:none;
    outline: none;
}
html,body{
    width:100%;
    height:100%;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    letter-spacing: 0;
    text-decoration: none;
    text-overflow: ellipsis;
}

body{
    min-width: 1080px;
}
a{
    text-decoration:none
}

.root{
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 1080px;
    overflow: hidden;
}

.main{
    position: absolute;
    min-width: 1100px;
    top: 93px;
    bottom: 26px;
    left: 0;
    right: 0;
}

.head-line{
    min-width: 1100px;
    background-color: #212529;
    height: 54px;
}
.head-line div{
    height: 100%;
    max-width: 1100px;
    margin:0 auto
}
.head-line a{
    float: right;
    padding: 18px 13px;
    font-size: 15px;
    line-height: 18px;
    color: #ddd;
}
.head-line a:hover{
    background: #00A86B;
    cursor:pointer;
}
.head-line h1{
    color: #e5e5e5;
    margin-right: 1em;
    margin-top: 8px;
    float: left;
}
.head-line h1:hover{
    cursor: pointer;
}
.head-line img{
    width: 32px;
    height: 32px;
    float: left;
    margin-top: 10px;
    margin-left: 1em;
    margin-right: 6px;
}
.upload-input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}
.tool-bar{
    display: flex;
    width: 100%;
    min-width: 1100px;
    height: 38px;
    border-bottom:1px solid #BBB;
    align-items:center;
}
.tool-btn{
    color: #222;
    width: auto;
    height: 32px;
    padding: 1px 8px;
    border: 2px solid #555;
    margin: 0 2px;
    white-space: nowrap;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
}
.tool-btn-m0{
    margin: 0;
}
.tool-middle{
    height: 0;
    flex-grow: 1;
}
.tool-space{
    width: 3px;
}
.tool-input{
    padding: 0 10px;
    border: 2px solid #555;
    color: #444;
    font-size: 15px;
    height: 28px;
    margin: 3px 2px;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}
.tool-check{
    color: #222;
    width: auto;
    height: 28px;
    padding: 4px 6px;
    border: 2px solid #444;
    border-radius: 3px;
    margin: 4px 0;
    white-space: nowrap;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}
.tool-input:focus{
    border: 2px solid #333;
}
.tool-select{
    height: 28px;
    border: 2px solid #444;
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
.tool-option{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: #FFF;
}
.tool-option:hover{
    background: #00A86B;
}

.logic-btns-box{
    display: inline-block;
    width: auto;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}
.ui-target-selector{
    display: none;
}

.status-bar{
    display: block;
    height: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: solid 1px #BBB;
    border-bottom: solid 1px #BBB;
}
.status-tip{
    height: 24px;
    line-height: 24px;
    margin: 0 6px;
    vertical-align: middle;
    position: absolute;
    font-size: 14px;
    color: #222;
}
.left-tip{
    left: 0;
}
.right-tip{
    right: 0;
}

.work-space{
    width: 100%;
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 94px;
    bottom: 0;
    left: 0;
    right: 0;
}

.vertical-split-line{
    display: inline-block;
    width: 1px;
    height: 100%;
    background: #BBB;
}
.vertical-split-line:before{
    display: block;
    width: 7px;
    height: 100%;
    position: relative;
    z-index: 99999;
    margin: 0 -3px;
    content: '';
}
.vertical-split-line:hover{
    cursor: ew-resize;
}

.left-more::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -5px;
}
.right-more::before {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    left: 0;
}
.horizontal-split-line::before {
    content: '';
    position: absolute;
    top: -4px;
    right: 0;
    bottom: -4px;
    left: 0;
}

.stack-right{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
}
.stack-left{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.directory-space{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y:auto;
    overflow-x: auto;
}
.work-space-core{
    display: flex;
    position: relative;
    flex-grow: 1;
    white-space: nowrap;
}
.editor-space{
    display: inline-block;
    position: relative;
    height: 100%;
    width: 500px;
}
.console-space{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    overflow-y: auto;
}
.side-bar{
    width: 240px;
    height: 100%;
    color: #324a5b;
    font-size: 14px;
    line-height: 2em;
    overflow:auto;
    float: left;
}
.draw-space{
    flex-grow: 1;
    height: 100%;
}
.logic-mode{
    display: block;
    width: 100%;
    height: 100%;
}
.ui-mode{
    display: none;
    width: 100%;
    height: 100%;
}
.draw-holder{
    width: 100%;
    height: 100%;
}
.draw{
    width: 100%;
    height: 100%;
}
.console-item{
    height: auto;
    width: auto;
    padding: 4px 12px;
    line-height: 1em;
    font-size: 14px;
    color: #444;
    white-space: normal;
}
.console-item:hover{
    background: #DFD;
}

.editor{
    width: 100%;
    height: 100%;
}

.side-bar h1{
    margin: 20px auto 0;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: center;
    color: black;
}
.side-bar h1 a{
    text-decoration:none;
    color: #324a5b;
}
.side-bar h2{
    margin: 0 auto 10px;
    font-size: 1rem;
    font-weight: 200;
    text-align: center;
}
.first-title{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    display: block;
    padding-left: 12px;
    background-color: #FFF;
    cursor:pointer;
    color: #324a5b;
}
.first-title:hover{
    background-color: #DFD;
}
.second-item{
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    display: block;
    padding-left: 26px;
}
.second-item:hover{
    background-color: #DFD;
    color: black;
    cursor:pointer;
}
.second-item a{
    display: inline-block;
    vertical-align:middle;
}
.icon{
    display: inline-block;
    vertical-align:middle;
    width: 7.4px;
    height: 7.4px;
    border-style:solid;
    border-width:2px;
    border-color: #00aadd;

    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all
}

.editor-container{
    display: flex;
    width: 100%;
    height: 100%;

    flex-wrap: nowrap;
    justify-content: space-between;
}

