
.ui-workspace{
    width: 100%;
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 94px;
    bottom: 0;
    left: 0;
    right: 0;
}

.drawer{
    min-width: 180px;
    height: 100%;
    display: inline-block;
    position: relative;
}
.layer-inner{
    height: 100%;
    display: inline-flex;
    flex-grow: 1;
}
.new-space{
    width: 300px;
    left: 0;
}
.tree-space{
    width: 300px;
    left: 0;
}
.code-space{
    width: 600px;
    right: 0;
}
.attr-space{
    width: 300px;
    right: 0;
}
.preview-space{
    width: 600px;
    right: 0;
}

.structure-space{
    min-width: 300px;
    height: 100%;
    flex-grow: 1;
    display: inline-block;
}

.temp-text{
    width: 100%;
    height: 100%;
    font-size: 3em;
    text-align: center;
    color: #aaa;
}

.select-box{
    height: 100%;
}
.select-input{
    height: 100%;
}

.select-list{
    margin-top: -2px;
    margin-left: 2px;
    margin-right: 50px;
    border: 1px solid #aaa;
}
.select-item{
    width: auto;
    font-size: 14px;
    padding: 4px;
    z-index: 100;
    position:relative;

    background: #eeeeee;
    color: #222222;
}
.select-item:hover{
    background: #347d74;
    color: #dddddd;
}








