@import 'mixin';
.themeMixin({
  :host {
    .layout {
      width: 24px;
      height: 24px;
      vertical-align: middle;
      text-align: center;
      border-radius: 2px;
      transition: background-color 0.15s ease;

      i {
        vertical-align: middle;
      }
    }
    .layout:hover {
      background: @background-btn-hover;
      cursor: pointer;
    }
  }
});
