.layout {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  text-align: center;
  border-radius: 2px;

  i {
    vertical-align: middle;
  }
}
.layout:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}
