<div class="layout" [ngStyle]="{ display: showHeader ? 'block' : 'none' }">
  <div fxLayout fxLayoutAlign="space-around center" class="main">
    <div fxLayout fxLayoutAlign="space-around center" class="left">
      <img class="logo-img" src="assets/logo.png" />
      <span class="logo-text">B-Logic</span>
    </div>
    <div class="right">
      <ul nz-menu nzMode="horizontal" nzTheme="dark">
        <li nz-menu-item *ngFor="let link of links">
          <a [href]="link.url">{{ link.text }}</a>
        </li>
      </ul>
    </div>
  </div>
  <app-btn-icon
    icon="icon-chevron-up"
    color="#505050"
    nz-tooltip="隐藏头部栏"
    nzTooltipPlacement="bottomRight"
    (click)="onHideHeader()"
  ></app-btn-icon>
</div>
