<div class="layout">
  <div fxLayout class="header no-select">
    <i nz-icon class="header-icon" [nzType]="sidebarIcon"></i>
    <p fxFlex="grow" class="header-text">{{ sidebarTitle }}</p>
    <app-toolbar-divider></app-toolbar-divider>
    <app-btn-icon icon="icon-set" (click)="onSetBtn()"></app-btn-icon>
    <app-btn-icon icon="minus" (click)="onHideBtn()"></app-btn-icon>
  </div>
  <app-divider class="splitdivider"></app-divider>
  <div class="body">
    <ng-content></ng-content>
  </div>
</div>
