@import (reference) '../../../../styles';

nz-layout.inner {
  height: 100%;
  background: @component-background;
  nz-header {
    height: 50px;
    padding: 0 12px;
    background-color: transparent;
  }
}
