
.themeMixin(@rules) {
  html {
    @primary-color: #00a86b;
    @header-background: #111111;

    &.default {
      @import './default.less';
      @rules();

      @background-base: #ffffff;
      @background-light: #f2f2f2;
      @background-second: #d9d9d9;
      @background-third: #bdbdbd;
      @background-btn-hover: #bababa;

      @color-base: #151515;
      @color-obvious: #6e6e6e;

      @divider-base: #cfcfcf;
      @divider-obvious: #d3d3d3;
    }
    &.dark {
      @import './dark.less';
      @rules();

      @background-base: #1e1e1e;
      @background-light: #2b2c2d;
      @background-second: #252525;
      @background-third: #202020;
      @background-btn-hover: #404040;

      @color-base: #dfdfdf;
      @color-obvious: #6e6e6e;

      @divider-base: #525252;
      @divider-obvious: #484848;
    }
  }
}

/* use
@import "mixin";
.themeMixin({
  :host {

  }
});
*/
