<app-space-sidebar-layout class="layout hr-ant">
  <app-icon-button
    action
    [nz-tooltip]="(showSearchBox?'隐藏':'显示')+'搜索框'"
    nzTooltipPlacement="bottom"
    (click)="showSearchBox = !showSearchBox"
  >
    search
  </app-icon-button>
  <div class="main">
    <div class="search-holder" [ngStyle]="{display: showSearchBox?'block':'none'}">
      <nz-input-group class="search" [nzSuffix]="suffixIconSearch" nzSize="small">
        <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon nzType="search"></i>
      </ng-template>
    </div>
    <nz-tree
      #tree
      class="tree"
      [nzData]="data"
      nzShowIcon
      nzShowLine
      [nzExpandedIcon]="multiExpandedIconTpl"
      [nzTreeTemplate]="nzTreeTpl"
      [nzDraggable]="false"
      [nzSearchValue]="searchValue"
      (nzSearchValueChange)="onSearchChange($event)"
      (nzDblClick)="onDoubleClick($event)"
      (nzOnDrop)="onMove($event)"
    >
      <ng-template #multiExpandedIconTpl let-node let-origin="origin">
        <i
          nz-icon
          class="ant-tree-switcher-line-icon"
          *ngIf="!origin.isLeaf"
          [nzIconfont]="
            node.isExpanded ? 'icon-chevron-down' : 'icon-chevron-right'
          "
        ></i>
      </ng-template>
      <ng-template #nzTreeTpl let-node let-origin="origin">
        <span class="tree-node" (contextmenu)="contextMenu($event, menu)">
          <i
            nz-icon
            [nzIconfont]="
              origin.isLeaf ? getFileIcon(origin.title) : 'icon-folder'
            "
            [ngStyle]="{
              color: origin.isRoot ? '#86d4ef' : '#B6B6B6'
            }"
          ></i>
          <span class="folder-name">{{ node.title }}</span>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu *ngIf="origin.isLeaf">
              <li nz-menu-item (click)="onRename(node)">重命名</li>
              <li nz-menu-item (click)="onDelete(node)">删除文件</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="onCopyName(origin)">复制文件名</li>
              <li nz-menu-item (click)="onCopyPath(origin)">复制路径</li>
            </ul>
            <ul nz-menu *ngIf="!origin.isLeaf">
              <li nz-submenu nzTitle="新建">
                <ul>
                  <li nz-menu-item (click)="onNew(NewFileType.Folder,node)">文件夹</li>
                  <li nz-menu-item (click)="onNew(NewFileType.File,node)">文件</li>
                  <li nz-menu-item (click)="onNew(NewFileType.BlockLogic,node)">JS图形块文件</li>
                  <li nz-menu-item (click)="onNew(NewFileType.JavaScript,node)">JavaScript文件</li>
                  <li nz-menu-item (click)="onNew(NewFileType.Python,node)">Python文件</li>
                </ul>
              </li>
              <li nz-menu-item (click)="onRename(node)">重命名</li>
              <li nz-menu-item (click)="onDelete(node)" *ngIf="!origin.isRoot">删除文件夹</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="onCopyName(origin)">复制文件夹名</li>
              <li nz-menu-item (click)="onCopyPath(origin)">复制路径</li>
            </ul>
            </nz-dropdown-menu>
            <nz-modal
              [(nzVisible)]="renameModalVisible"
              nzTitle="请输入新名称"
              (nzOnOk)="onRenameOk()"
              (nzOnCancel)="renameModalVisible=false"
            >
              <ng-container *nzModalContent>
                <input nz-input placeholder="新名称" spellcheck="false" [(ngModel)]="renameValue" />
                <p class="modal-tip" *ngIf="existsList.includes(renameValue)">有重名文件，不可修改。</p>
              </ng-container>
            </nz-modal>
            <nz-modal
              [(nzVisible)]="deleteModalVisible"
              [nzTitle]="deleteTitle"
              (nzOnOk)="onDeleteOk()"
              (nzOnCancel)="deleteModalVisible=false"
            ></nz-modal>
            <nz-modal
               [(nzVisible)]="newModalVisible"
               nzTitle="请输入名称"
               (nzOnOk)="onNewOk()"
               (nzOnCancel)="newModalVisible=false"
            >
              <ng-container *nzModalContent>
                <input nz-input placeholder="名称" spellcheck="false" [(ngModel)]="newValue" />
                <p class="modal-tip" *ngIf="existsList.includes(newValue)">该文件名已存在。</p>
              </ng-container>
            </nz-modal>
        </span>
      </ng-template>
    </nz-tree>
  </div>
</app-space-sidebar-layout>
