<app-space-sidebar-layout
  class="layout hr-ant"
  sidebarIcon="folder"
  sidebarTitle="项目"
  sidebarName="项目"
>
  <div class="main">
    <nz-tree #tree
      class="tree"
      [nzData]="data"
      nzShowIcon
      nzShowLine
      [nzExpandedIcon]="multiExpandedIconTpl"
      [nzTreeTemplate]="nzTreeTpl"
    >
      <ng-template #multiExpandedIconTpl let-node let-origin="origin">
        <i
          nz-icon
          class="ant-tree-switcher-line-icon"
          *ngIf="!origin.isLeaf"
          [nzIconfont]="
            node.isExpanded ? 'icon-chevron-down' : 'icon-chevron-right'
          "
        ></i>
      </ng-template>
      <ng-template #nzTreeTpl let-node let-origin="origin">
        <span class="tree-node">
          <i
            nz-icon
            [nzIconfont]="
              origin.isLeaf ? getFileIcon(origin.title) : 'icon-folder'
            "
            [ngStyle]="{
              color: origin.isRoot ? '#8CD3EC' : '#B6B6B6'
            }"
          ></i>
          <span class="folder-name">{{ node.title }}</span>
        </span>
      </ng-template>
    </nz-tree>
  </div>
</app-space-sidebar-layout>
