@layout-height: 22px;

@import "mixin";
.themeMixin({
  :host {
    .layout {
      height: @layout-height;
      background-color: @background-light;
      padding: 0 8px;

      span {
        height: @layout-height;
        line-height: @layout-height;
        font-size: 12px;
        color: @color-base;
      }
    }
  }
});

