
#app .ui-workspace{
    width: 100%;
    display: flex;
    justify-content:space-between;
    position: absolute;
    top: 94px;
    bottom: 0;
    left: 0;
    right: 0;
}

#app .drawer{
    min-width: 180px;
    height: 100%;
    display: inline-block;
    position: relative;
}
#app .layer-inner{
    height: 100%;
    display: inline-flex;
    flex-grow: 1;
}
#app .new-space{
    width: 100%;
}
#app .tree-space{
    width: 100%;
    padding-right: 3px;
    left: 0;
    overflow: auto;
}
#app .code-space{
    width: 600px;
    right: 0;
}
#app .attr-space{
    width: 100%;
    right: 0;
}
#app .preview-space{
    min-width: 200px;
    width: 100%;
    right: 0;
}

#app .structure-space{
    width: 100%;
    height: 100%;
    flex-grow: 1;
    display: inline-block;
    overflow-y: auto;
}

#app .temp-text{
    width: 100%;
    height: 100%;
    font-size: 3em;
    text-align: center;
    color: #aaa;
}

#app .select-box{
    height: 100%;
}
#app .select-input{
    height: 100%;
    margin-left: 4px;
}
#app .btn--2{
    margin-left: -2px;
}

#app .select-list{
    margin-top: -2px;
    margin-left: 2px;
    margin-right: 50px;
    z-index: 200;
    position: relative;
    border: 1px solid #aaa;
}
#app .select-item{
    width: auto;
    font-size: 14px;
    padding: 4px;
    position:relative;

    background: #eee;
    color: #111;
}
#app .select-item:hover{
    background: #347d74;
    color: #fff;
}

#app .structure-show{
    max-width: 600px;
    margin: 0 8px;
}

#app .structure-box{
    user-select: none;
    margin: 5px;
    padding: 5px;
    min-width: 40px;
    min-height: 40px;
    border: 2px solid #555;
    border-radius: 3px;
    overflow: hidden;
}
#app .structure-title{
    display: inline-block;
    user-select: none;
    font-size: 16px;
    margin: 3px;
    color: #444;
}
#app .structure-msg{
    user-select: none;
    font-size: 12px;
    margin: 2px 1px;
    color: #555;
}
#app .structure-split{
    height: 1px;
    margin: 4px -2px;
    background: #999;
}
#app .structure-icon{
    display: inline-block;
    font-size: 18px;
    color: #666;
}

#app .tree-box{
    user-select: none;
    width: auto;
    overflow: hidden;
}
#app .tree-title-box{
    width: auto;
    height: 24px;
    display: block;
    padding: 1px;
    border: 0 solid #11ae62;
}
#app .tree-title{
    width: auto;
    height: 20px;
    display: inline-block;
    margin: 1px 2px;
    font-size: 14px;
    line-height: 20px;
    vertical-align:middle;
    color: #444;
}
#app .tree-icon{
    color: #777;
}
#app .tree-swi{
    color: #444;
}

#app .new-show{
    height: 100%;
    width: 100%;
    overflow-y: auto;
}
#app .new-box{
    width: 100%;
    user-select: none;
    border-bottom: 1px solid #bbb;
}
#app .new-title-box{
    padding: 4px 5px;
    background: #fff;
    white-space: nowrap;
}
#app .new-title-box:hover{
    background: #e2e2e2;
}
#app .new-title{
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    color: #444;
}
#app .new-swi{
    display: inline-block;
    font-size: 16px;
    color: #666;
}
#app .new-items-holder{
    overflow: hidden;
}
#app .new-item-box{
    padding: 4px 6px 4px 20px;
    background: #fff;
    border-top: 1px solid #ddd;
    white-space: normal;
}
#app .new-item-box:hover{
    background: #e2e2e2;
}
#app .new-item-icon{
    font-size: 16px;
    color: #555;
}
#app .new-item-title{
    display: inline-block;
    font-size: 16px;
    color: #444;
    margin-left: 2px;
}
#app .new-item-exp{
    font-size: 10px;
    color: #777;
    margin-left: 5px;
    white-space: nowrap;
}
#app .new-item-msg{
    font-size: 12px;
    color: #555;
}

#app .attr-show{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
#app .attr-items-holder{
    padding-left: 3px;
    overflow: visible;
}
#app .attr-title-box{
    padding: 4px 5px;
    background: #fff;
    white-space: nowrap;
    border-bottom: 1px solid #bbb;
    margin-bottom: -1px;
}
#app .attr-title-box:hover{
    background: #e2e2e2;
}
#app .attr-line{
    height: 25px;
    margin: 4px 4px;
    white-space: nowrap;
}
#app .attr-name{
    width: 36%;
    height: 25px;
    line-height: 25px;
    vertical-align: top;
    color: #222;
    font-size: 14px;
    overflow: hidden;
    display: inline-block;
}

#app .dropdown{
    width: 60%;
    height: 25px;
    line-height: 25px;
    display: inline-block;
}
#app .dropdown-input {
    width: 100%;
    height: 20px;
    vertical-align: middle;
    font-size: 14px;
    padding: 0 2px;
    color: #222;
    border: solid #ddd 2px;
    border-radius: 2px;
}
#app .dropdown-input:focus{
    border: solid #98d7a2 3px;
}
#app .dropdown-content {
    position: relative;
    background-color: #fff;
    max-height: 15em;
    border-left: solid #98d7a2 3px;
    border-right: solid #98d7a2 3px;
    border-bottom: solid #98d7a2 3px;
    margin: 0 2px 0 2px;
    overflow: auto;
    z-index: 1;
}
#app .dropdown-item {
    font-size: .9em;
    line-height: 1em;
    padding: 8px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
#app .dropdown-item:hover{
    background-color: #e0e3da;
}

#app .follow-box{
    min-width: 40px;
    position: absolute;
    visibility: hidden;
    z-index: 100;

    background: #eee;
    border: #666 solid 2px;
    border-radius: 2px;

    padding: 3px;
}

#app .follow-title{
    font-size: 14px;
    color: #555
}
#app .follow-msg{
    font-size: 12px;
    color: #555
}
#app .follow-split{
    height: 1px;
    margin: 2px 0;
}

#app .move-tip{
    position: absolute;
    visibility: hidden;
    z-index: 100;
    pointer-events: none;

    border-color: #11ae62;
    border-bottom-style: solid;
    border-left-style: dashed;
    border-width: 1px;
}

#app .temp{
    visibility: hidden;
}


